@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f5f5f5; }

body, h1, h2, h3, h4, h5, h6, li, a, p, button, input {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

input {
  outline: none; }
  input:focus {
    outline: none; }

ul, li {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 5px;
  -webkit-margin-after: 5px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 10px; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

ul ul li {
  list-style-type: circle; }

a {
  text-decoration: none;
  color: black; }

/* preventing default input field Styles */
input::-webkit-calendar-picker-indicator {
  display: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

/* Variable colors */
:root {
  --white-color: #fff;
  --text-color: #595959; }

/* Mixings */
/* Header */
header {
  background-color: #f0f0f0; }
  header .header {
    padding: 15px 0 0; }
    header .header .header-logo {
      width: 90%;
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid #fdbc1f;
      margin: 0 auto; }
      header .header .header-logo img {
        width: 150px; }
    header .header .input-track {
      width: 35%;
      margin: 0 auto;
      position: relative;
      top: 25px; }
      header .header .input-track span {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 400;
        color: #6e6e6e; }
      header .header .input-track .track-order {
        height: 55px;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto; }
    header .header .moving-path {
      background-image: url(images/Sillhoutte.png);
      background-size: cover;
      -webkit-animation: 50s scroll infinite linear;
      -moz-animation: 50s scroll infinite linear;
      -o-animation: 50s scroll infinite linear;
      -ms-animation: 50s scroll infinite linear;
      animation: 50s scroll infinite linear; }

.track-order input {
  width: 70%;
  height: 100%;
  border: 0;
  padding: 5px 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px; }
  .track-order input::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #9c9c9c; }
  .track-order input:focus {
    box-shadow: 1px 2px 11px 1px #e9e9e9; }
.track-order button {
  width: 30%;
  height: 100%;
  outline: none;
  border: 0;
  background: #737373;
  color: var(--white-color);
  font-size: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0; }

@-webkit-keyframes scroll {
  100% {
    background-position: -3000px 0px; } }
@-moz-keyframes scroll {
  100% {
    background-position: -3000px 0px; } }
@-o-keyframes scroll {
  100% {
    background-position: -3000px 0px; } }
@-ms-keyframes scroll {
  100% {
    background-position: -3000px 0px; } }
@keyframes scroll {
  100% {
    background-position: -3000px 0px; } }
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(2px); }
  50% {
    -webkit-transform: translateY(4px); } }
@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(2px); }
  50% {
    -webkit-transform: translateY(4px); } }
.overlay-header {
  padding-top: 30px; }
  .overlay-header .delivery-bike {
    width: 90%;
    margin: 0 auto;
    margin-right: 0;
    height: 140px;
    position: relative;
    overflow: hidden; }
    .overlay-header .delivery-bike img {
      width: 140px;
      left: 0;
      position: absolute;
      transition: left 1.5s linear;
      -webkit-animation-duration: 1.3s;
      animation-duration: 1.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: bounce;
      animation-name: bounce; }

.main {
  width: 85%;
  margin: 0 auto;
  margin: 2.5rem auto;
  max-width: 1200px; }
  .main .assurance-container {
    padding: 5px 0;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    margin: 3rem auto;
    justify-content: space-between; }
    .main .assurance-container .assurance-question {
      width: 100%;
      margin: 2rem 0;
      font-size: 21px;
      letter-spacing: .5px; }
    .main .assurance-container .assured-badge {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      background-color: var(--white-color);
      box-shadow: 0px 1px 3px 1px #b6b6b6; }
      .main .assurance-container .assured-badge img {
        width: 150px;
        text-align: center; }
    .main .assurance-container .assurance-text {
      width: 75%;
      color: var(--text-color);
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: .5px;
      height: auto;
      text-align: justify; }

.section {
  width: 100%;
  margin: 3rem 0; }
  .section .section-header {
    font-size: 21px;
    color: var(--text-color);
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    margin: 20px 0; }
    .section .section-header .header-policy {
      width: 70%;
      margin: auto 0; }
      .section .section-header .header-policy span {
        font-style: italic;
        font-size: 18px;
        font-weight: 300; }
    .section .section-header .search-field {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .section .section-header .search-field .search-input {
        font-size: 16px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        box-shadow: 1px 2px 11px 1px #e9e9e9; }
        .section .section-header .search-field .search-input::placeholder {
          font-size: 16px;
          font-weight: 300;
          color: #9c9c9c; }
      .section .section-header .search-field .search-button {
        outline: none;
        border: none;
        background: transparent; }
  .section .policy-steps > * {
    margin: 25px 0; }
    .section .policy-steps > * .policy-button {
      background-color: #b4b4b4;
      width: 100%;
      padding: 1rem;
      font-size: 19px;
      color: var(--white-color);
      font-weight: 400;
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      height: 3rem; }
  .section .policy-description {
    display: none;
    padding: 2rem;
    background: white;
    box-shadow: 1px 1px #ebebeb;
    border-top: 0; }
    .section .policy-description li {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.8;
      color: #747474; }
      .section .policy-description li span {
        font-size: 14px;
        font-weight: 500;
        color: #5e5e5e; }

.active {
  background-color: #7f7f7f !important; }

footer {
  background-color: #969696; }
  footer .main-footer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    color: #fbfbfb;
    padding: 2.5rem 0; }
    footer .main-footer > * {
      margin: 15px 0;
      padding: 10px 0; }
    footer .main-footer .about-header {
      width: 100%;
      font-size: 23px;
      color: #292929; }
    footer .main-footer .about-nf {
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto; }
      footer .main-footer .about-nf .footer-logo {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white-color); }
        footer .main-footer .about-nf .footer-logo img {
          width: 150px; }
      footer .main-footer .about-nf .nf-about1 {
        width: 75%;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5;
        letter-spacing: .5px; }
    footer .main-footer .nf-about2 {
      width: 100%;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.5;
      letter-spacing: .5px; }
  footer .bottom-footer {
    background-color: #848484;
    text-align: center;
    padding: 1em 0;
    font-size: 12px; }

@media screen and (min-width: 320px) and (max-width: 760px) {
  header .overlay-header {
    padding-top: 15px; }
    header .overlay-header .input-track {
      width: 90%;
      margin: 2rem auto; }
      header .overlay-header .input-track span {
        text-align: center; }
    header .overlay-header .moving-path {
      margin-top: 7rem; }
      header .overlay-header .moving-path img {
        margin: 0 auto;
        display: block; }

  .main .assurance-container .assured-badge {
    width: 80%;
    margin: 0 auto;
    height: 5rem; }
  .main .assurance-container .assurance-text {
    width: 100%;
    margin: 15px auto; } }
/* Secondary Header */
/* delivery status */
img {
  max-width: 100%; }

.delivery-truck {
  width: 120px;
  margin: 10px auto;
  margin-left: 0; }

.status-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  background: #fff; }

.header-container {
  width: 85%;
  margin: 15px auto; }

.status-container > * {
  width: 25%;
  padding: 20px;
  margin: 0;
  border-right: 1px solid #e9e9e9; }

.order-status {
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto; }

.order-status > * {
  width: 100%;
  display: block;
  margin: 2px  auto; }

span.current-state {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color); }

span.time-span {
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color); }

.order-details > * {
  margin-top: 10px; }

.order-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fdbd39; }

.shipment-address {
  font-size: 13px;
  font-weight: 300;
  height: 65px;
  overflow: hidden;
  line-height: 1.3;
  color: var(--text-color); }

.contact-details > * {
  width: 100%;
  display: block;
  line-height: 1.5;
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color); }

table {
  font-size: 15px;
  color: var(--text-color);
  height: 85px; }

tr td:nth-child(2) {
  font-size: 11px;
  font-weight: 300; }

tr td:nth-child(1) {
  font-size: 12px;
  font-weight: 400;
  padding-right: 10px; }

tbody tr {
  line-height: 1.5; }

.contact-note > * {
  width: 100%;
  display: block;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: var(--text-color); }

.manage-info {
  font-size: 13px;
  color: var(--text-color);
  line-height: 1.3; }

.order-states {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-left: 8%; }

.state-track {
  width: 19%;
  display: inline-block; }

.state-track:last-child {
  width: 5%; }

.state-track:last-child img {
  margin-left: -10px; }

.state {
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  top: 50px;
  left: -5px;
  background: var(--white-color); }

.state-info {
  font-size: 12px;
  font-weight: 400;
  -webkit-transform: translateX(-9%) translateY(-35px);
  transform: translateX(-9%) translateY(-35px);
  text-align: center;
  height: 50px;
  display: flex; }

.state-path {
  width: 100%;
  margin-top: -8px;
  height: 2px;
  background: #d9d9d9; }

.order-states-container {
  margin-top: 6rem;
  margin-left: 5%;
  padding-bottom: 5%; }

.state-info img {
  max-width: 50px;
  margin-left: -5px; }

/*# sourceMappingURL=main.css.map */
